# temp files
*~

# org mode temp files
/org/*/ltxpng

# jekyll derived directories
_site
.sass-cache
.jekyll-metadata

# org-publish derived directories
/ads
/comsys
/digisys
/lang
/logik
/mathe
/nvprog
/oar
/oop
/os
/swt
/tgi
