# temp files
*~

# ignore pdfs by default because they are usually protected by copy rights
*.pdf

# org mode temp files
/org/*/ltxpng
/org/*/*/ltxpng
/*/ltxpng
/*/*/ltxpng

# jekyll derived directories
_site
.sass-cache
.jekyll-metadata

/.bundle/config
/Gemfile.lock
